<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: my_header">
</head>
<body>
	
	<div th:replace="fragments/navbar :: my_navbar"></div>	
	
	<div class="container">
	
			<h3>Profile page</h3>
		
			<div th:if="${session.User}">
				Welcome dear  <p  th:text="${session.User.name}" /> 
			</div>
			
			
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<td>Date</td>
						<td>Start time</td>
						<td>Stop time</td>
						<td>Description</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task:${tasks}">
						<td th:text="${task.date}"></td>
						<td th:text="${task.startTime}"></td>
						<td th:text="${task.stopTime}"></td>
						<td th:text="${task.description}"></td>
					</tr>
				</tbody>
			</table>
			
	</div>

	
</body>
<footer th:replace="fragments/footer :: my_footer"></footer>
</html>