<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  
<head th:replace="fragments/header :: my_header"></head>
<body>

     <div th:replace="fragments/navbar :: my_navbar"></div>	
     
     <div class="container mySpace">
          <div class="jumbotron">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores autem vel doloribus consequuntur harum commodi eos tenetur vitae asperiores!</p>
          
          </div>
     </div>

</body>
<footer th:replace="fragments/footer :: my_footer"></footer>
</html>